.menu-sidebar__transaction {
  display: grid;
  /* grid-template-columns: 50% 50%; */
  row-gap: 1rem;
  column-gap: 1.2rem;
  flex: 0 0 14rem;

}

.menu-sidebar__transaction-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }

.menu-sidebar__transaction-total-title,
.menu-sidebar__transaction-total-price {
  font-size: 1.8rem;
  font-weight: 300;

}

.menu-sidebar__transaction-total-title {
  color: var(--color-light--2);
}

.menu-sidebar__transaction__footer {
  justify-self:end;
}

.menu-sidebar__transaction-pay {
  display: flex;
  justify-content: end;
  gap: 1rem;
  grid-row-start: 2;
}

.menu-sidebar__transaction  button {
    flex: 0 0 11rem;
    background-color: var(--color-dark--1);
    color: var(--color-light--2);
    border: 1px solid var(--color-light--2);
    border-radius: 8px; 
    font-size: 1.4rem;
    font-weight: 500;
    padding-top: 2.4rem;
    position:relative;
    background-repeat: no-repeat;
    background-size: 2.4rem;
    background-position-x: 50%;
    background-position-y: 23%;
    transition: none;
  }


.menu-sidebar__transaction-pay__credit{
  background-image: url(../../assets/icons/subtract--light.svg);
}


.menu-sidebar__transaction-pay__credit:hover {
    background-image: url(../../assets/icons/subtract--dark.svg);
    background-color: var(--color-dark--1);
    cursor: pointer;
    
}



.menu-sidebar__transaction-pay__cash{
  background-image: url(../../assets/icons/wallet--light.svg);
  background-size: 2rem;
  background-position-y: 22%;
}

.menu-sidebar__transaction-pay__cash:hover {
  background-image: url(../../assets/icons/wallet--dark.svg);
  background-color: var(--color-dark--1);
  cursor: pointer;
}


.menu-sidebar__transaction .menu-sidebar__transaction-btn--active{
  background-color: var(--color-dark--2);
  color: var(--color-light--1);

}

.menu-sidebar__transaction__credit.menu-sidebar__transaction-pay-btn--active {
  background-image: url(../../assets/icons/subtract--light.svg);
}

.menu-sidebar__transaction__cash.menu-sidebar__transaction-pay-btn--active {
  background-image: url(../../assets/icons/wallet--light.svg);
}

.menu-sidebar__transaction-btn--active::after {
  content: "";
  background-image: url(../../assets/icons/checkmark-circle.svg);
  background-repeat: no-repeat;
  position: absolute; 
  top: 0.4rem;
  right: 0.4rem;
  width: 1.6rem;
  height: 1.6rem;

}


.menu-sidebar__transaction-note {
  grid-row-start: 2;
  display: flex;
}

.menu-sidebar__transaction-note textarea {
  flex: 0 0 12.5rem;
  font-family: inherit;
  font-size: 1.4rem;
  background-color: var(--color-dark--1);
  color: #abbbc2;
  letter-spacing: 0.2px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 1px solid var(--color-light--2);
  border-radius: 10px;
}

.menu-sidebar__transaction-note textarea:focus {
  outline: none;
}

.menu-sidebar__footer {
  flex: 0 0 6rem;
}

.menu-sidebar__footer-submit-btn {
    height: 6rem;
  }

.menu-sidebar__footer -save-btn.hidden {
  display: none;
}
