.menu-items {
  /* visibility: hidden; */
  z-index: 1;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: flex-start;
  gap: 7.4rem 2.8rem;
  padding-top: 5rem;
  display: flex;
  overflow: auto;
  position: relative;
}