.menu-tabs__link {
  cursor: pointer;
  letter-spacing: .2px;
  padding-bottom: 1.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff
}

.menu-tabs__active {
  color: #fffb2b;
  border-bottom: .3rem solid #fffb2b;
  border-radius: 2px;
}