.container {
  max-width: 120rem;
  height: 83.4rem;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  background-color: var(--color-dark--3);
  border-radius: 1.6rem;
  grid-template-rows: 100%;
  grid-template-columns: 7.7% 92.3%;
  margin: 7rem auto;
  display: grid;
  box-shadow: 0 2rem 6rem .5rem #0000004d;
}